
.taskArea {
  border-top: 2px solid var(--gray-500);
  border-radius: 8px 8px 0 0;
  padding: 4rem 0;
  display: grid;
  gap: 1rem;
}

.taskArea img {
  margin: 0 auto;
  width: 3.5rem;

}

.withoutTasks {
  margin: 0 auto;
}

.messageBold {
  font-weight: bold;
  color: var(--gray-300);
}

.messageWithoutBold {
  color: var(--gray-300);
}